body {
  font-family: "Roboto", sans-serif;
}
.customStyle {
  color: red;
}

.error {
  color: darkred;
}
.bBig {
  font-size: large;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pt {
  padding-top: 3.5rem;
}
.size {
  font-size: 27px;
  white-space: 1px;
}

.about_text {
  padding: 25px;
}

.about_text li {
  padding: 10px;
  list-style-type: none;
}
.my_post {
  padding: 25px;
  font-size: 18px;
}
.my_post li {
  padding: 10px;
}
